{% extends 'layouts/base.html' %}

{% block content %}
    <h1> Add Student </h1>

<!--{{form.name}}-->
<form action="" method="POST">
  {{form.csrf_token }}
  <div class="mb-3">
    {{form.name.label}}
      {{form.name}}
  </div>
    <div class="mb-3">
    {{form.image.label}}
      {{form.image}}
  </div>
     <div class="mb-3">
    {{form.age.label}}
      {{form.age}}
  </div>
     <div class="mb-3">
    {{form.grade.label}}
      {{form.grade}}
  </div>
  <div class="mb-3">
    {{form.track.label}}
      {{form.track}}
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}