{% extends 'layouts/base.html' %}
{% import 'macros_.html' as mymacro %}




{% block content %}
{{mymacro.sayhello()}}

    <h1> Students index </h1>
<!--{{students}}-->
   <a href="{{url_for('students.create')}}"
       class="btn btn-dark"> Create New Student </a>
<div class="d-flex flex-row gap-2 flex-wrap">


    {% for student in students %}
<!--        {{student.image_url}}-->
      <div class="card" style="width: 18rem;">
          <!--      src="{{url_for('static', filename='students/images/'+student.image)}}"-->

        <img width="200" height="200"
          src = "{{student.image_url}}"
                class="card-img-top" alt="...">

        <div class="card-body">
          <h5 class="card-title">{{student.name}}</h5>
          {{student.image}}
          <a href="{{student.show_url}}" class="btn btn-primary">Show </a>
        </div>
      </div>
    {% endfor %}
  </div>

{% endblock %}