{% extends 'layouts/base.html' %}

{% block content %}
    <h1> Students index </h1>
<!--{{students}}-->
   <a href=""
       class="btn btn-dark"> Create New Student </a>
<div class="d-flex flex-row gap-2 flex-wrap">


    {% for student in students %}

      <div class="card" style="width: 18rem;">
        <img width="200" height="200"
                src="{{url_for('static', filename='students/images/'+student.image)}}"
                class="card-img-top" alt="...">

        <div class="card-body">
          <h5 class="card-title">{{student.name}}</h5>
          {{student.image}}
          <a href="" class="btn btn-primary">Show </a>
        </div>
      </div>
    {% endfor %}
  </div>

{% endblock %}