{% extends 'layouts/base.html' %}

{% block content %}
    <h1> Students Info </h1>
<div class="d-flex flex-row gap-2 flex-wrap">


      <div class="card" style="width: 18rem;">

        <img width="200" height="200"
          src = "{{student.image_url}}"
                class="card-img-top" alt="...">

        <div class="card-body">
          <h5 class="card-title">{{student.name}}</h5>
          {{student.image}}
          <a href="" class="btn btn-primary">Show </a>
        </div>
      </div>

  </div>

{% endblock %}