{% extends 'layouts/base.html' %}
{% import 'macros_.html' as mymacro %}

{% block content %}
    <h1> Students Info </h1>
<div class="d-flex flex-row gap-2 flex-wrap">


      <div class="card" style="width: 18rem;">

        <img width="200" height="200"
          src = "{{student.image_url}}"
                class="card-img-top" alt="...">

        <div class="card-body">
          <h5 class="card-title">{{student.name}}</h5>
          <h5 class="card-title" style="color: red">Track : {{student.track_name}}</h5>

          <a href="" class="btn btn-primary">Show </a>
        </div>
      </div>
    <h1> Students in this track </h1>

  </div>
 {%for std in student.track_name.students %}
     <h1>   {{std.name}}  </h1>
    {% endfor %}


<h1> Use Macros </h1>
{{mymacro.listobjects(student.track_name.students)}}

{% endblock %}